body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}


input ~ p{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

